p {
  color: orange;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #FFF;
}

a {
  color: red;
}

a:hover {
  color: orange;
}

img {
  float:left;
  width: 50vw;
  height: 50vh;
}

.link {
  position: absolute;
  top: 60vh;
}

body {
  background-color: #0018d1;
}


