p {
  color: red;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #FFF;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: red;
  font-size: 16px;
}

a:hover {
  color: orange;
}

img {
  width: 30vw;
  display: block;
  margin: auto;
}

#button-link {
  position: absolute;
  top: 65vh;
  right: 10vw;
  padding: 30px 50px;
}

body {
  background-color: #1183E8;
}

#button {
  position: absolute;
  top: 65vh;
  left: 10vw;
  font-size:16px;
  padding: 30px 50px;
}

#color {
  height:150px;
  width:100vw;
  background-color: #1183E8;
  transition: all 3s ease;
  text-align: center;
  font-size: 150px;
  color: #1183E8;
}

