p {
  color: red;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #FFF;
}

a {
  color: red;
}

a:hover {
  color: orange;
}

img {
  float:left;
  width: 50vw;
  height: 50vh;
}

.link {
  position: relative;
  top: 90vh;
}

body {
  background-color: #1183E8;
}

#button {
  
}

#color {
  height:150px;
  width:100vw;
  background-color: #1183E8;
  padding: 0;
  margin: 0;
  transition: all 3s ease;
  text-align: center;
  font-size: 150px;
  color: #1183E8;
}
